<div class="user-list">
  <div class="user-box">
    <h1>
    <% if user.profile_image.attached? %>
      <%= image_tag user.display_profile_image, class:"profile-image" %>
    <% else %>
      <%= image_tag "default.jpg", class:"profile-image" %>
    <% end %>
    </h1>
  </div>
  <div class="user-box">
    <h2><%= link_to user.name, user %></h2>
    <h3>@<%= user.unique_name %></h3>
  </div>
  <h4><%= user.self_instoduction %></h4>
  <h5><% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "削除", user, method: :delete,
                                  data: { confirm: "本当にこのアカウントを消しますか？" } %>
  <% end %></h5>
</div>