<% provide(:title, @user.name) %>
<div class="user-info">
  <div class="profile">
    <div class="user-box">
    <% if @user.profile_image.attached? %>
      <%= image_tag @user.profile_image, class:"profile-big-image" %>
    <% else %>
      <%= image_tag "default.jpg", class:"profile-big-image" %>
    <% end %>
    </div>
    <div class="user-box">
      <h1><%= @user.name %></h1>
      <h2>@<%= @user.unique_name %></h2>
    </div>
    <h3><%= @user.self_instoduction %></h3>
  </div>
<section class="stats">
  <%= render 'shared/stats' %>
</section>
</div>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>