<% provide(:title, @user.name) %>
<div class = profile>
<h1>
        <% if @user.header_image.attached? %>
        <%= image_tag @user.display_header_image %>
        <% end %>
        <% if @user.profile_image.attached? %>
        <%= image_tag @user.display_profile_image %>
        <% end %>
        <%= @user.name %>
        <%= @user.self_instoduction %>
        
</h1>
</div>
<div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>