<li id="comic-<%= comic.id %>" data-micropost-id="<%= comic.id %>">
      <% if comic.cover_image.attached? %>
        <%= image_tag comic.display_litle_cover_image %>
      <% else %>
      <%= image_tag "comic_default2.jpg" %>
      <% end %>
      ジャンル：<%= comic.genre %>
      <%= link_to comic.title, comic %>
      作家：<%= comic.author_name %>
      作品内容：<%= comic.content %>
      <%= render "bookmarks/bookmark", comic: comic %>
</li>
