<div class="comic">
  <div id="comic-<%= comic.id %>" data-micropost-id="<%= comic.id %>">
      <li><% if comic.cover_image.attached? %>
        <%= image_tag comic.cover_image, class: "comic-image" %>
      <% else %>
        <%= image_tag "comic_default.jpg", class: "comic-image" %>
      <% end %>
      </li>
      <div class="comic-title">
        <li><%= link_to comic.title, comic %></li>
      </div>
      <div class="comic-author_name">
        <li><%= comic.author_name %></li>
      </div>
      <%= render "bookmarks/bookmark", comic: comic %>
  </div>
</div>