<% provide(:title, '漫画検索') %>
<div class="search">
<%= form_with  method: :get, local: true do |f| %>
  <%= f.text_field :title, placeholder: "漫画検索"%>
<% end %>
<li><%= link_to "探したい漫画がない場合",   new_comic_path %></li>
</div>

<%= will_paginate %>

<ul class="comics">
  <% @comics.each do |comic| %>
    <%= render comic %>
  <% end %>
</ul>

<%= will_paginate %>