<div class="comic_show">
<% provide(:title, @comic.title) %>
  <div class="comic_param">
    <% if @comic.cover_image.attached? %>
      <%= image_tag @comic.cover_image, class: "comic-big-image"%>
    <% else %>
    <%= image_tag "comic_default.jpg", class: "comic-big-image"%>
    <% end %>
    <div class="com_box">
      <h1><%= @comic.title %></h1>
      <h2>作家: <%= @comic.author_name %></h2>
      <h3>ジャンル: <%= @comic.genre %></h3>
      <h4>内容</h4>
      <h5> <%= @comic.content %></h5>
    </div>
  </div>
    <%= render'reviews/form', review: @review, comic: @comic%>
    <li><%= link_to "漫画編集",   edit_comic_path %></li>
    　<div class="card mb-6">
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @comic.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @comic.avg_score %>点（<%= @comic.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
 <%= render 'reviews/review', review: @review %>
 </div>
            