<% provide(:title, @comic.title) %>
<div class = comic_show>
<h1>
    <%= @comic.cover_image %>
    <%= @comic.title %>
    <%= @comic.author_name %>
    <%= @comic.genre %>
</h1>
</div>
<h2>
    <%= @comic.content %>
</h2>
